[submodule "themes/meghna-hugo"]
	path = themes/meghna-hugo
	url = https://github.com/themefisher/meghna-hugo
[submodule "public"]
	path = public
	url = git@github.com:jim380/jim380.github.io.git
	branch = master
